<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ezen.SelfProject.repository.UserDAO">	<!-- dao 안쓰고 repository 값 여기서 전처리 -->
	<select id="getUser" resultType="com.ezen.SelfProject.domain.UserVO">
		select * from user2 where id=#{id}	<!-- id가 일치하는 값 가져오기 -->
	</select>
	<insert id="insertUser">
		insert into user2 (id,pw,name,age,email,home)
		values(#{id},#{pw},#{name},#{age},#{email},#{home})
	</insert>
</mapper>